* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: black;
    padding: 15px 30px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    font-size: 22px;
    padding: 5px 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
}
header ul li a:hover {
    text-decoration: underline;
    color: lightgray;
}

button:hover {
    background-color: darkblue;
    cursor: pointer;
}

.row
{
    display: flex;
    padding: 22px;
    justify-content: space-around;
}
.box
{
    width: 500px;
    padding: 30px;
}
.title
{
    text-align: center;
}
#para
{
    font-size: 20px;
    font-weight: 400;
}
button
{
    padding: 9px;
    background-color: whitesmoke;
    color: grey;
    font-size: 14px;
    border-radius: 4px;
    width: 100px;
}
#home
{
    background: linear-gradient(to right, #e3f2fd, #ffffff);
    padding: 40px 0;
}
.box img {
    border-radius: 50px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
.proj
{
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.rowfirst {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}
.boxfirst
{
    width: 27%;
    background-color: white;
    padding: 30px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0px 6px 15px whitesmoke(0,0,0,0.1);
}
.boxfirst:hover
{
    transform: translateY(-5px);
}
.proj
{
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    color: white;
}
#sect
{
    background-color: black;
}