body {
    margin: 0;
    padding: 50;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: #7d85db;
  }
  
  .title {
    font-size: 1.5rem;
    color: #6fdcde;
  }
  /* Tablet */
  @media (min-width: 600px) {
    .title {
      font-size: 2.5rem;
      color: #b0b2b4;
    }
  }
  
  /* Desktop */
  @media (min-width: 900px) {
    .title {
      font-size: 3.5rem;
      color: #77da8e;
    }
  }